@layer reset, base, layout, component, utilities;

:root {
    --flow: 1rem;

    /*************** Colors variables ***************/
    --clr-black: hsl(0, 0%, 0%);
    --clr-dark: hsl(60, 0%, 0%);
    --clr-text: hsl(60, 0%, 30%);
    --clr-link: hsl(200, 71%, 45%);
    --clr-light: hsl(60, 0%, 100%);
    --clr-accent: hsl(30, 71%, 45%);
    --clr-white: hsl(100, 100%, 100%);
    --clr-primary: hsl(60, 57%, 36%);
    --clr-container: hsl(60, 5%, 95%);
    --clr-background: hsl(60, 63%, 97%);
    --clr-container-alt: hsl(60, 0%, 100%);

    --clr-stat-text-1: hsl(0, 71%, 45%);
    --clr-stat-text-2: hsl(270, 71%, 45%);
    --clr-stat-text-3: hsl(150, 71%, 45%);
    --clr-stat-text-4: hsl(210, 71%, 45%);
    --clr-stat-text-5: hsl(30, 71%, 45%);
    --clr-stat-background-1: hsl(0, 72%, 86%);
    --clr-stat-background-2: hsl(270, 72%, 86%);
    --clr-stat-background-3: hsl(150, 72%, 86%);
    --clr-stat-background-4: hsl(210, 72%, 86%);
    --clr-stat-background-5: hsl(30, 72%, 86%);



    /*************** Font sizes variables ***************/
    --fs-100: clamp(0.64rem, 0.7134rem + -0.0947vw, 0.6944rem);
    --fs-200: clamp(0.8rem, 0.8449rem + -0.058vw, 0.8333rem);
    --fs-300: clamp(1rem, 1rem + 0vw, 1rem);
    --fs-400: clamp(1.2rem, 1.1826rem + 0.087vw, 1.25rem);
    --fs-500: clamp(1.44rem, 1.3974rem + 0.213vw, 1.5625rem);
    --fs-600: clamp(1.728rem, 1.6497rem + 0.3915vw, 1.9531rem);
    --fs-700: clamp(2.0736rem, 1.9457rem + 0.6397vw, 2.4414rem);
    --fs-800: clamp(2.4883rem, 2.2923rem + 0.9799vw, 3.0518rem);
    --fs-900: clamp(2.986rem, 2.6977rem + 1.4412vw, 3.8147rem);
}

@layer reset {
    *, *::before, *::after {
        box-sizing: border-box;
    }
    
    * {
        margin: 0;
        padding: 0;
        font: inherit;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        min-height: 100dvh;
    }
    
    h1, h2, h3, h4, h5, h6 {
        line-height: 1.2;
        text-wrap: balance;
    }
    
    p, li, span, small {
        max-width: 70ch;
        line-height: 1.6;
        font-weight: 300;
        text-wrap: pretty;
    }
    
    ul {
        list-style-type: none;
    }
    
    a {
        text-decoration: none;
        color: var(--clr-black);
    }
    
    button {
        border: none;
        background: none;
    }
    
    img, video, picture, svg {
        display: block;
        max-width: 100%;
    }

    input, textarea, select {
        width: 100%;
        padding: .5rem 1rem;
        border-radius: 1rem;
        color: var(--clr-text);
        border: 1px solid var(--clr-dark);
        background-color: var(--clr-white);
    }

    :is(input, textarea, select):focus {
        outline: none;
        border: 2px solid var(--clr-accent);
    }
}

@layer base {
    #app {
        background-color: var(--clr-background);
    }

    /****************************** HEADER & NAV ******************************/
    .header {
        background: var(--clr-white);
        box-shadow: 0 0 1px 0 var(--clr-text);
        border-bottom: 2px solid var(--clr-container);
    }
    
    .nav {

        .nav-item {
            padding: .5rem 1rem;
        }

        .nav-link, .nav-icon {
            color: var(--clr-text);
        }

        .nav-item:hover {
            cursor: pointer;
            border-radius: .5rem;
            outline: 1px solid var(--clr-accent);
            
            .nav-link, .nav-icon {
                color: var(--clr-accent);
            }
        }

        .is-active {
            border-radius: .5rem;
            outline: 1px solid var(--clr-accent);
            
            .nav-link, .nav-icon {
                color: var(--clr-accent);
            }
        }
    }
    /****************************** HEADER & NAV ******************************/

    /****************************** CHARTS ******************************/
    .chart {
        border-radius: 1rem;
        background-color: var(--clr-white);
        box-shadow: 0 0 1px 0 var(--clr-text);
    }
    /****************************** CHARTS ******************************/

    /****************************** STATS SECTION ******************************/
    .stat {
        border-radius: .5rem;
        background-color: var(--clr-white);
        border: 2px solid var(--clr-container);
    }

    .chart-stats .stat:nth-of-type(1) strong {
        color: var(--clr-stat-text-1);
    }

    .chart-stats .stat:nth-of-type(2) strong {
        color: var(--clr-stat-text-2);
    }

    .chart-stats .stat:nth-of-type(3) strong {
        color: var(--clr-stat-text-3);
    }

    .chart-stats .stat:nth-of-type(4) strong {
        color: var(--clr-stat-text-4);
    }
    
    .chart-stats .stat:nth-of-type(5) strong {
        color: var(--clr-stat-text-5);
    }

    .summary-stats-section .stat:nth-of-type(1) {
        background-color: var(--clr-stat-background-1);
    }

    .summary-stats-section .stat:nth-of-type(2) {
        background-color: var(--clr-stat-background-2);
    }

    .summary-stats-section .stat:nth-of-type(3) {
        background-color: var(--clr-stat-background-3);
    }

    .summary-stats-section .stat:nth-of-type(4) {
        background-color: var(--clr-stat-background-4);
    }
    
    .summary-stats-section .stat:nth-of-type(5) {
        background-color: var(--clr-stat-background-5);
    }
    /****************************** STATS SECTION ******************************/
}


@layer layout {
    /****************************** APP & SECTIONS ******************************/
    #app {
        min-height: 100svh;
    }

    .main {
        padding-block: 1rem 3rem;
    }

    section {
        margin-block: 5rem;
    }

    section:has(select){
        margin-bottom: 2rem;
    }

    section select {
        margin-left: 1rem;
        width: fit-content;
    }

    section:has(select) + * {
        margin-top: 0;
    }

    section:last-of-type {
        margin-bottom: 0;
    }

    @media (width < 600px) {
        section:first-of-type {
            margin-top: 0;
        }
    }
    /****************************** APP & SECTIONS ******************************/
    
    /****************************** HEADER & NAV ******************************/
    .header {
        padding: 1rem;
        position: sticky;
        inset: 0 0 auto 0;
        z-index: 10;
    }

    @media (width < 600px) {
        .header {
            position: fixed;
            padding: 0.5rem 0;
            inset: auto 0 0 0;
        }

        .nav {
            justify-content: space-between;
        }

        .nav-link {
            display: none;
        }
    }
    
    .nav {
        display: flex;
        column-gap: 1rem;

        .nav-item {
            display: flex;
            column-gap: .5rem;
            align-items: center;
        }
    }
    /****************************** HEADER & NAV ******************************/

    /****************************** CHARTS ******************************/
    .chart-grid {
        display: grid;
        gap: 2rem;
        align-items: center;
        grid-template-columns: 2fr 1fr;
    }

    .chart {
        padding: 1rem;
    }

    @media (width < 900px){
        .chart-grid {
            grid-template-columns: 1fr;
        }

        .chart {
            padding: .5rem;
        }
    }
    /****************************** CHARTS ******************************/

    /****************************** STATS SECTION ******************************/
    .stat-list {
        display: grid;
        gap: 2rem 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 150px), 1fr));
    }

    .stat {
        display: flex;
        padding: 2rem;
        row-gap: .5rem;
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }

    @media (width < 900px){
        .stat {
            padding: 1rem;
        }
    }
    /****************************** STATS SECTION ******************************/
}


@layer utilities {
    /****************************** STRUCTURE ******************************/
    .wrapper {
        margin-inline: auto;
        width: min(100% - 2rem, 1280px);    
    }

    .flow > * + * {
        margin-top: var(--flow);
    }

    .flow-sm > * + * {
        margin-top: calc(var(--flow) / 2);
    }

    .flow-md > * + * {
        margin-top: calc(var(--flow) * 2);
    }

    .flow-lg > * + * {
        margin-top: calc(var(--flow) * 4);
    }

    .flow-xl > * + * {
        margin-top: calc(var(--flow) * 8);
    }

    .align-content-right {
        display: flex;
        justify-content: end;
    }
    /****************************** STRUCTURE ******************************/


    /****************************** TYPOGRAPHY ******************************/
    .text-max {
        font-size: var(--fs-900);
    }

    .text-xxx {
        font-size: var(--fs-800);
    }

    .text-xxl {
        font-size: var(--fs-700);
    }

    .text-xl {
        font-size: var(--fs-600);
    }

    .text-lg {
        font-size: var(--fs-500);
    }
    
    .text-md {
        font-size: var(--fs-400);
    }

    .text {
        font-size: var(--fs-300);
    }

    .text-sm {
        font-size: var(--fs-200);
    }

    .text-xs {
        font-size: var(--fs-100);
    }

    .text-center {
        text-align: center;
    }
    /****************************** TYPOGRAPHY ******************************/

    /****************************** BUTTON ******************************/
    .btn, .btn-sm, .btn-lg {
        cursor: pointer;
        user-select: none;
        text-align: center;
        border-radius: 1rem;
        display: inline-block;
    }

    .btn {
        padding: .5rem 1rem;
    }

    .btn-sm {
        padding: .25rem .5rem;
    }

    .btn-lg {
        padding: 1rem 1.5rem;
    }

    .btn-primary {
        color: var(--clr-white);
        background-color: var(--clr-primary);
    }

    .btn-primary-alt {
        color: var(--clr-black);
        background-color: var(--clr-container);
    }

    .btn-secondary {
        color: var(--clr-primary);
        background-color: var(--clr-light);
        border: 1px solid var(--clr-primary);
    }

    .btn-primary:hover, .btn-primary:active,
    .btn-secondary:hover, .btn-secondary:active {
        border: none;
        color: var(--clr-white);
        background-color: var(--clr-accent);
    }
    /****************************** BUTTON ******************************/

    /*************************** Links ******************************/
    .link, .link-alt {
        padding: 0;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .link {
        color: var(--clr-link);
    }

    .link-alt {
        color: var(--clr-dark);
    }

    .link:hover, .link:active,
    .link-alt:hover, .link-alt:active {
        color: var(--clr-accent);
    }
    /*************************** Links ******************************/



    /*************************** Others ******************************/
    .icon {
        font-size: var(--fs-400);
    }

    .icon-md {
        font-size: var(--fs-500);
    }

    .icon-lg {
        font-size: var(--fs-600);
    }
    /*************************** Others ******************************/
}